Flask==2.2.4
mediapipe==0.10.14
nltk==3.8.1
numpy==1.26.4
opencv-contrib-python==4.9.0.80
pybase64==1.3.1
requests==2.29.0
scikit-learn==1.5.0
scikit-image==0.22.0
tensorflow==2.16.1
tensorboard==2.16.2